<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pay.mapper.PayMchIdMapper">
    
    <resultMap type="PayMchId" id="PayMchIdResult">
        <result property="id"    column="id"    />
        <result property="mchType"    column="mch_type"    />
        <result property="mchId"    column="mch_id"    />
        <result property="mchName"    column="mch_name"    />
        <result property="apiKey"    column="api_key"    />
        <result property="snKey"    column="sn_key"    />
        <result property="wechatApiCert"    column="wechat_api_cert"    />
        <result property="alipayCertPath"    column="alipay_cert_path"    />
        <result property="alipayappPrivatePath"    column="alipayapp_private_path"    />
        <result property="alipayappPublicPath"    column="alipayapp_public_path"    />
        <result property="alipayRootPath"         column="alipay_root_path" />
        <result property="b1Key"    column="b1_key"    />
        <result property="b2Key"    column="b2_key"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPayMchIdVo">
        select id, mch_type, mch_id, mch_name, api_key, sn_key, wechat_api_cert, alipay_cert_path, alipayapp_private_path, alipayapp_public_path, alipay_root_path,b1_key, b2_key, remark from pay_mch_id
    </sql>

    <select id="selectPayMchIdList" parameterType="PayMchId" resultMap="PayMchIdResult">
        <include refid="selectPayMchIdVo"/>
        <where>  
            <if test="mchType != null  and mchType != ''"> and mch_type = #{mchType}</if>
            <if test="mchId != null  and mchId != ''"> and mch_id = #{mchId}</if>
            <if test="mchName != null  and mchName != ''"> and mch_name like concat('%', #{mchName}, '%')</if>
        </where>
    </select>
    
    <select id="selectPayMchIdById" parameterType="Long" resultMap="PayMchIdResult">
        <include refid="selectPayMchIdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPayMchId" parameterType="PayMchId" useGeneratedKeys="true" keyProperty="id">
        insert into pay_mch_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mchType != null">mch_type,</if>
            <if test="mchId != null">mch_id,</if>
            <if test="mchName != null">mch_name,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="snKey != null">sn_key,</if>
            <if test="wechatApiCert != null">wechat_api_cert,</if>
            <if test="alipayCertPath != null">alipay_cert_path,</if>
            <if test="alipayappPrivatePath != null">alipayapp_private_path,</if>
            <if test="alipayappPublicPath != null">alipayapp_public_path,</if>
            <if test="alipayRootPath != null">alipay_root_path,</if>
            <if test="b1Key != null">b1_key,</if>
            <if test="b2Key != null">b2_key,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mchType != null">#{mchType},</if>
            <if test="mchId != null">#{mchId},</if>
            <if test="mchName != null">#{mchName},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="snKey != null">#{snKey},</if>
            <if test="wechatApiCert != null">#{wechatApiCert},</if>
            <if test="alipayCertPath != null">#{alipayCertPath},</if>
            <if test="alipayappPrivatePath != null">#{alipayappPrivatePath},</if>
            <if test="alipayappPublicPath != null">#{alipayappPublicPath},</if>
            <if test="alipayRootPath != null">#{alipayRootPath},</if>
            <if test="b1Key != null">#{b1Key},</if>
            <if test="b2Key != null">#{b2Key},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePayMchId" parameterType="PayMchId">
        update pay_mch_id
        <trim prefix="SET" suffixOverrides=",">
            <if test="mchType != null">mch_type = #{mchType},</if>
            <if test="mchId != null">mch_id = #{mchId},</if>
            <if test="mchName != null">mch_name = #{mchName},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="snKey != null">sn_key = #{snKey},</if>
            <if test="wechatApiCert != null">wechat_api_cert = #{wechatApiCert},</if>
            <if test="alipayCertPath != null">alipay_cert_path = #{alipayCertPath},</if>
            <if test="alipayappPrivatePath != null">alipayapp_private_path = #{alipayappPrivatePath},</if>
            <if test="alipayappPublicPath != null">alipayapp_public_path = #{alipayappPublicPath},</if>
            <if test="alipayRootPath != null">alipay_root_path = #{alipayRootPath},</if>

            <if test="b1Key != null">b1_key = #{b1Key},</if>
            <if test="b2Key != null">b2_key = #{b2Key},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayMchIdById" parameterType="Long">
        delete from pay_mch_id where id = #{id}
    </delete>

    <delete id="deletePayMchIdByIds" parameterType="String">
        delete from pay_mch_id where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>